*{
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: normal;
	color: #505050;
}
:root{
	font-size: 16px;	
}
body{
	position: relative;	
	padding-top: 60px;
	overflow-x: hidden;
}
body, nav ul{
	margin: 0;
}
.container{
	padding: 20px 10px 50px;	
}
.btn{
	text-transform: uppercase;
	background: #d71010;
	border-radius: 100%;
	text-align: center;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.35);
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.35);	
}
/*-----------------------------------------*/
/*----------------- Fonts -----------------*/
/*-----------------------------------------*/
h1{
	font-size: 1.75rem;
	margin-top: 0;
}
h1, h2, h3{
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
}
/*----------------------------------------------*/
/*----------------- Navigation -----------------*/
/*----------------------------------------------*/
nav{
	background: #d71010;
}
nav ul{
	padding: 0;
}
nav ul li{
	display: inline-block;
	list-style-type: none;
}
nav ul li img{
	vertical-align: middle;
}
/*------------- Top Nav Styles -------------*/
header{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
}
#topNav{
	max-height: 55px;
	padding: 20px 25px;
	-webkit-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.35);
	box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.35);
}
#topNav li{
	float: left;
	line-height: 100%;
}
#topNav li:nth-child(1), #topNav li:nth-child(3){
	width:10%
}
#topNav li:nth-child(2){
	width: 80%;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	font-size: 21px;
	letter-spacing: 2px;
}
#topNav li:nth-child(3){
	text-align: right;
}
.home #topNav li:nth-child(1) img{
	opacity: 0;
}
/*------------- Bottom Nav Styles -------------*/
#bottomNav{
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 10px 0;
	max-height: 45px;
    z-index: 9999;
}
#bottomNav li{
	width: 33%;
	float: left;
	box-sizing: border-box;
	text-align: center;
	position: relative;
}
.active::before{
	content: "";
	position: absolute;
	top:-14px;
	left: 0;
	height: 4px;
	width: 105%;
}
.active.home::before{
	background: #ff7e00;
}
.active.basket::before{
	background: #73397c;
}
.active.checkout::before{
	background: #39b54a;
}
#bottomNav ul li{
	display: inline-block;
}	
#bottomNav ul li img{
	transform: scale(0.80);
}
.home #bottomNav ul li.home img, .basket #bottomNav ul li.basket img, .checkout #bottomNav ul li.checkout img{
	transform: scale(1);
}
#bottomNav ul li a{
	position:relative;	
}
.badge{
	background: #fff;
	position: absolute;
	top: 0;
	right: -5px;
	color: #d71010;
	font-size: 0.6rem;
	border-radius: 100%;
	padding: 2px 5px;
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.35);
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.35);
}	
/*----------------------------------------------*/
/*------------------- Menu Items ---------------*/
/*----------------------------------------------*/

.drink-option{
	width: 130px;
	height: 130px;
	border-radius: 100%;
	overflow: hidden;
	margin: 0 auto;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.35);
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.35);
}
#citrus-punch{
	background: url(../assets/images/menu-citrus.svg) 50% 50% no-repeat;
	background-color: #f4ca07;
	-webkit-transform: translate(-60px, 0);
	-moz-transform: translate(-60px, 0);
	transform: translate(-60px, 0);
}
#berry-blast{
	background: url(../assets/images/menu-berry.svg) 50% 50% no-repeat;
	background-color: #73397c;
	-webkit-transform: translate(60px, -20px);
	-moz-transform: translate(60px, -20px);
	transform: translate(60px, -20px);
}
#green-machine{
	background: url(../assets/images/menu-green.svg) 50% 50% no-repeat;
	background-color: #7fb75a;
	-webkit-transform: translate(-60px, -40px);
	-moz-transform: translate(-60px, -40px);
	transform: translate(-60px, -40px);
}
#simply-red{
	background: url(../assets/images/menu-red.svg) 50% 50% no-repeat;
	background-color: #a32121;
	-webkit-transform: translate(60px, -60px);
	-moz-transform: translate(60px, -60px);
	transform: translate(60px, -60px);
}
.drink-name{
	font-size: 0.875rem;
	font-weight: bold;
	background: rgba(255,255,255,0.7);
	text-align: center;
	padding: 4px 0;
	text-transform: uppercase;
	margin: 0;
	-webkit-transform: translate(0, 70px);
	-moz-transform: translate(0, 70px);
	transform: translate(0, 70px);
}
/*------------------------------------------------*/
/*------------------- Product Info ---------------*/
/*------------------------------------------------*/
#hiddenProdInfo{
	position: absolute;
	width: 100%;
	bottom: -140px;
}
#berryProdInfo h2, #berryProdInfo p, #berryProdInfo th, #berryProdInfo td,
#redProdInfo h2, #redProdInfo p, #redProdInfo th, #redProdInfo td{
	color: #fff;	
}

#citrusProdInfo h2, #citrusProdInfo p, #citrusProdInfo th, #citrusProdInfo td{
	color: #d64103;	
}
#greenProdInfo h2, #greenProdInfo p, #greenProdInfo th, #greenProdInfo td{
	color: #2a5800;	
}
.product-information{
	text-align: center;
	position: relative;
	z-index: 5;
	display: none;
}
.product-information::before{
	content: '';
	width: 140%;
	height: 360px;
	border-radius: 100%;
	top: -80px;
	left: -50px;
	z-index: -5;
	position: absolute;
	-webkit-transform: translate(-4%);
	-moz-transform: translate(-4%);
	transform: translate(-4%);
}
.product-information img{
	position: absolute;
	top: -340px;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	-mos-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}
.product-information p.btn-holder{
	position: relative;
}
.product-information a.btn{
	font-size: 1rem;
	position: absolute;
	top: -40px;
}	
.product-information a.close-btn {
    top: -350px;
    right: 60px;
    padding: 10px 15px;
    z-index: 999;
}
.product-information a.add-cart-btn{
	padding: 19px 12px;		
	left: 20%;
}
.product-information a.buy-now-btn{
        padding: 19px 19px;
	right: 20%;
}
.product-information .info-holder{
	padding: 25px 0 60px;
}	
.product-information h2{
	margin-bottom: 0;	
}
.product-information .product-info{
	margin-top: 5px;	
}
.product-information .nutri-table{
	padding: 0 30px;
}	
.product-information table{
	width: 100%;
	text-align: center;
	font-size: 0.8rem;
	border-collapse: collapse;
}
.product-information table tr th{
	border-bottom: 3px solid #fff;
}
#citrusProdInfo.product-information table tr th{
	border-bottom-color: #d64103;
}
#greenProdInfo.product-information table tr th{
	border-bottom-color: #2a5800;
}
.product-information table tr td, .product-information table tr th{
	padding: 10px;
	vertical-align: middle;	
}
.product-information table tr:nth-child(even) td{
	background: rgba(255,255,255,0.05);	
}
.product-information table tr:nth-child(odd) td{
	opacity: 0.8;	
}
.product-information.isShowing{
	display: block;
}
.blur{
	-webkit-filter: blur(1.5px);
	filter: blur(1.5px);	
}
.product-information.isShowing{
	-webkit-animation: drink-animate-in 500ms ease-in-out forwards;
	-moz-animation: drink-animate-in 500ms ease-in-out forwards;
	animation: drink-animate-in 500ms ease-in-out forwards;
}
.product-information.hideElement{
	-webkit-animation: drink-animate-out 500ms ease-in-out forwards;
	-moz-animation: drink-animate-out 500ms ease-in-out forwards;
	animation: drink-animate-out 500ms ease-in-out forwards;
}
/*-------------------------------------------------*/
/*------------------- Basket Styles ---------------*/
/*-------------------------------------------------*/
#basket{
	width: 90%;
	margin: 0 auto;
}
.basket-item{
	position: relative;
	margin: 0 0 30px;
	padding: 10px;
	box-sizing: border-box;
	height: 75px;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.35);
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.35);
}
.basket-item img{
	max-width: 50px;
	max-height: 55px;
	width: 100%;
	height: 100%;
}
.basket-item span{
	margin-right: 10px;
	float: left;	
	font-size:1rem;
	line-height: 110%;
	color: #fff;
	vertical-align: middle;
}
.basket-item span:last-child{
	margin-right: 0;
}
.basket-item span small{	
	font-size: 0.875rem;
	margin-top: 5px;
	display: inline-block;
	color: #fff;
}
.basket-item span.price{
	font-size: 1.375rem;
	float: right;
	margin-top: 15px;
}
.citrus-punch, .citrus-punch.product-information::before{
	background: #f4ca07;	
}
.berry-blast, .berry-blast.product-information::before{
	background: #73397c;	
}
.green-machine, .green-machine.product-information::before{
	background: #7fb75a;	
}
.simply-red, .simply-red.product-information::before{
	background: #a32121;	
}
.remove-basket{
	display: block;
	position: absolute;
	top: -15px;
	right: -12px;
	background: #d71010;
	font-size: 1.4rem;
	border-radius: 100%;
	padding: 0px;
	text-decoration: none;
	color: #fff;
	line-height: 100%;
	width: 24px;
	height: 30px;
	text-align: center;
	font-weight: 300;
	box-sizing: border-box;
	padding: 3px 0 0 1px;
	-webkit-transform: scale(1,0.8);
	-moz-transform: scale(1,0.8);
	-ms-transform: scale(1,0.8);
	-o-transform: scale(1,0.8);
	transform: scale(1,0.8);
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.35);
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.35);
}
.fifty{
	width: 50%;
	float: left;
	text-align: center;
}
.basket-items, .basket-price{
	font-size: 2rem;
	margin: 5px 0 0;	
}
#basket-pay{
	text-align: center;	
}
#basket-pay .basket-pay-btn{
	font-size: 1.5rem;
	padding: 25px 27px;
}
.basket-item{
	opacity: 0;	
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
	-webkit-transform: translate(0px, -20px);
	-moz-transform: translate(0px, -20px);
	transform: translate(0px, -20px);
}
.basket-item.is-showing{
	opacity: 1;	
	-webkit-transform: translate(0px, 0px);
	-moz-transform: translate(0px, 0px);
	transform: translate(0px, 0px);	
}
/*---------------------------------------------------*/
/*------------------- Checkout Wallet ---------------*/
/*---------------------------------------------------*/
.checkout section{
	position: relative;
}
.checkout h1{
	margin-top: 0;
}
.wallet{
	background: #47280a;
	width: 100%;
	border-radius: 10px;
	padding-top: 10px;	
	margin-top: 50px;
}
.cash {
	background: #39b54a;
	position: relative;
	outline: 5px solid #11681d;
	outline-offset: -10px;
	padding: 15px 15px 45px;
	box-sizing: border-box;
	margin: -40px 20px -50px;
	-webkit-transform: rotate(-7deg);
	-moz-transform: rotate(-7deg);
	transform: rotate(-7deg);
}
.cash h5{
	font-size: 24px;
	color: #0d6119;
	text-align: right;
	margin: 0;
}
.cash h5 span{
	font-size: 15px;
	margin-bottom: 8px;
	color: #0d6119;
}
.wallet-inner{
	background: #603913;
	width: 100%;
	outline: 2px dashed #362f2d;
	outline-offset: -10px;
	border-radius: 10px;
	padding: 20px 15px;
	box-sizing: border-box;
	position: relative;
	z-index: 2;
}
.card-wrapper{
	margin-bottom: -10px;	
}
.card{
	height: 70px;
	position: relative;
	max-height: 190px;
	overflow: hidden;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	padding: 15px 15px 20px;
	box-sizing: border-box;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-webkit-box-shadow: 0px -5px 4px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px -5px 4px 0px rgba(0,0,0,0.35);
	box-shadow: 0px -5px 4px 0px rgba(0,0,0,0.35);
}
.card-wrapper:last-child .card{
	-webkit-box-shadow: 0px -5px 4px 0px rgba(0,0,0,0.35), inset 0px -5px 4px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px -5px 4px 0px rgba(0,0,0,0.35), inset 0px -5px 4px 0px rgba(0,0,0,0.35);
	box-shadow: 0px -5px 4px 0px rgba(0,0,0,0.35), inset 0px -5px 4px 0px rgba(0,0,0,0.35);
	margin-bottom: 20px;
}
.card h5{
	margin: 0;
	color: #fff;
	font-size: 22px;
}
.card h5 .cost{
	float: right;
	color: #fff;
}
.mobile.card{
	background: #6300de;
	z-index: 1;
}
.mobile.card p{
	color: #fff;
	font-size: 0.8rem;
	line-height: 1.75em;
}	
.debit.card{
	background: #211ec6;
	z-index: 2;
}
.paypal.card{
	background: #009cde;
	z-index: 3;
}
.paypal.card .card-inner{
	padding-top: 10px;
}	
.paypal.card .card-inner input{
	margin-bottom: 10px;	
}
.card-inner{
	opacity: 0;
}
.card form label, .card .card-inner form div:nth-child(3){
	font-size: 0.6rem;
	color: #fff;
}	
.card form label{
	display: block;
	margin-bottom: 5px;	
}
.card form .inline-form {
	margin: 10px 0	
}
.card form .inline-form .form-group{
	display: inline-block;	
	width: 30%;
	float: left;	
}
.card form .form-group input[type="email"], .card form .form-group input[type="text"], 
.card form .form-group input[type="number"],.card form .form-group input[type="month"], 
.card form .form-group input[type="password"], .card form .inline-form .form-group select{
	max-width: 100%;	
	font-size: 0.8rem;
	color: #c6c6c6;
	border-radius: 3px;
	height: 30px;
	width: 100%;
	border: none;
	padding: 5px;
	box-sizing: border-box;
	background: #fff;
}
.card form .inline-form .form-group:nth-child(1), .card form .inline-form .form-group:nth-child(2){
	padding-right: 5%;	
}
.card form .form-group input[type="checkbox"]{
        margin: 9px 2px 10px 0;
	vertical-align: middle;
}
.card.animated{
	z-index: 999;	
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35) !important;
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35) !important;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35) !important;
}
.fade{
	-webkit-animation: fade 1s ease-in-out forwards;
	-moz-animation: fade 1s ease-in-out forwards;
	animation: fade 1s ease-in-out forwards;	
}
.mobile-animate-in{
	-webkit-animation: mobile-animate-in 1s ease-in forwards;
	-moz-animation: mobile-animate-in 1s ease-in forwards;
	animation: mobile-animate-in 1s ease-in forwards;
}
.card-animate-in{
	-webkit-animation: card-animate-in 1s ease-in forwards;
	-moz-animation: card-animate-in 1s ease-in forwards;
	animation: card-animate-in 1s ease-in forwards;
}
.paypal-animate-in{
	-webkit-animation: paypal-animate-in 1s ease-in forwards;
	-moz-animation: paypal-animate-in 1s ease-in forwards;
	animation: paypal-animate-in 1s ease-in forwards;
}
.card-animate-out{
	-webkit-animation: card-animate-out 2s ease-in-out forwards;
	-moz-animation: card-animate-out 2s ease-in-out forwards;
	animation: card-animate-out 2s ease-in-out forwards;
}
.overlay{
	padding: 10px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.9);
	z-index: 555;
	display: none;
}
.pay-screen{
	position: absolute;
	bottom: 25px;
	left: 0;
	padding: 10px;
}
.pay-instructions{
	font-size: 1rem;
	color: #fff;
	text-align: center;
}
.pay-screen img{
	margin-bottom: -40px;
}	
.pay-screen .btn{
	padding: 35px 15px;;	
	font-size: 1rem;
}
/*---------------------------------------------------------*/
/*------------------- Loyalty Point Counter ---------------*/
/*---------------------------------------------------------*/
.loyatly-points h2{
	margin: 10px 0 5px;
}
.loyatly-points p{
	margin: 0 0 10px;
	font-size: 0.8rem;
	text-align: center;
}
#loyaltyCounter{
	background: #f0cc05;
	margin: 0 10px;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.35);
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.35);
}
.fifth{
	width: 20%;
	float: left;
}
.start-holder{
	text-align: center;
	padding: 7px 0;
	box-sizing: border-box;
	border-right: 1px solid #957f05;
}
.start-holder:nth-child(5){
	border-right: none;	
}
.start-holder img{
	opacity: 0.2;
}
.start-holder.point img{
	opacity: 1;	
}

.product-information.isShowing, .overlay.isShowing{
	display: block;	
}
.clear, .card h5 .cost::after, .basket-item .price::after{
	clear: both;
	margin: 0;
	padding: 0;
}
@keyframes drink-animate-in{
	0%{			
		opacity: 0;
		-webkit-transform: translate(0px, 100px);
		-moz-transform: translate(0px, 100px);
		transform: translate(0px, 100px);
	}
	100%{		
		opacity: 1;
		-webkit-transform: translate(0px, 0px);
		-moz-transform: translate(0px, 0px);
		transform: translate(0px, 0px);
	}
}
@keyframes drink-animate-out{
	0%{			
		opacity: 1;
		-webkit-transform: translate(0px, 0px);
		-moz-transform: translate(0px, 0px);
		transform: translate(0px, 0px);
	}
	100%{		
		opacity: 0;
		-webkit-transform: translate(0px, 100px);
		-moz-transform: translate(0px, 100px);
		transform: translate(0px, 100px);
	}
}
@keyframes fade {
	0%, 30%{	
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@keyframes mobile-animate-in{
	0%{			
		height: 70px;
		margin-bottom: 0;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		transform: translateY(0px);
	}
	60%{
		
		height: 190px;
	        margin-bottom: -130px;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
		-webkit-transform: translateY(-120px);
		-moz-transform: translateY(-120px);
		transform: translateY(-120px);
	}
	100%{		
		height: 190px;
	        margin-bottom: -130px;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
		-webkit-transform: translateY(-80px);
		-moz-transform: translateY(-80px);
		transform: translateY(-80px);
	}
}
@keyframes card-animate-in{
	0%{			
		height: 70px;
		margin-bottom: 0;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		transform: translateY(0px);
	}
	60%{
		
		height: 190px;
	        margin-bottom: -130px;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
		-webkit-transform: translateY(-170px);
		-moz-transform: translateY(-170px);
		transform: translateY(-170px);
	}
	100%{		
		height: 190px;
	        margin-bottom: -130px;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
		-webkit-transform: translateY(-140px);
		-moz-transform: translateY(-140px);
		transform: translateY(-140px);
	}
}
@keyframes paypal-animate-in{
	0%{			
		height: 70px;
		margin-bottom: 0;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		transform: translateY(0px);
	}
	60%{
		
		height: 190px;
	        margin-bottom: -130px;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
		-webkit-transform: translateY(-240px);
		-moz-transform: translateY(-240px);
		transform: translateY(-240px);
	}
	100%{		
		height: 190px;
	        margin-bottom: -130px;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
		-webkit-transform: translateY(-210px);
		-moz-transform: translateY(-210px);
		transform: translateY(-210px);
	}
}
/*@keyframes card-animate-out{
	0%{
		-webkit-transform: translate(0px, -60px);
		-moz-transform: translate(0px, -60px);
		transform: translate(0px, -60px);
	}
	30%{
		-webkit-transform: translate(0px, 120px);
		-moz-transform: translate(0px, -120px);
		transform: translate(0px, -120px);
	}
	100%{
		-webkit-transform: translate(0px, 0px);
		-moz-transform: translate(0px, -0px);
		transform: translate(0px, -0px);
		
	}
}*/
